/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* MIS ESTILOS */

.container {
  display: flex;
  flex-direction: row;
}

.imagen-objetivo {
  margin: 20px;
  width: 160px;
}

#juego {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
}

.pieza {
  width: 178px;
  height: 178px;
  border: 1px solid #3f6348;
}

.pieza img {
  width: 100%;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  background-color: rgb(40,40,40);
  height: 40px;
}

#titulo {
  color: white;
  background-color: #E84A5F;
  text-align: center;  
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

#titulo h2 {
  font-size: 20px;
  padding: 5px;
  letter-spacing: 5px;
}

.titulo {
  color: #E84A5F;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#lista-instrucciones {
  font-size: 12px;
}